{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class='mb-4 w-100 d-flex justify-content-between'>
    <div>
        <button type="button" class="btn btn-icon btn-primary mt-2" onclick="location.href='/acara/{{id_acara}}'">
            <i class="tf-icons bx bx-arrow-back"></i>
        </button>
    </div>
    <div> 
        {% if request.user.pengguna.tipe == 'Admin' or request.user.pengguna.tipe == 'Bendahara' %}
        <button type="button" class="btn btn-icon btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#tambahDana">
            <span class="tf-icons bx bxs-plus-square"></span>
        </button>
        <button type="button" class="btn btn-icon btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#tambahPengajuan">
          <span class="tf-icons bx bx-wallet"></span>
        </button>
        {% endif %}
        <button type="button" class="btn btn-icon btn-secondary mt-2"  onclick="frames['print_iframe'].print()">
            <i class='bx bx-printer'></i>
        </button>
        <a href="whatsapp://send?text=Berikut link dana acara/kegiatan {{acara.judul}}:%0a%0a{{ request.build_absolute_uri }}%0a%0a_Pesan ini dibuat secara otomatis_" data-action="share/whatsapp/share"
            target="_blank"><button type="button" class="btn btn-icon btn-success mt-2"><i class='bx bxl-whatsapp' ></i></button></a>
    </div>
  </div>
  {% include 'main/messages.html'%}
  <iframe name="print_iframe" height=75% width="50%" src="{% url 'Print Dana' id=acara.id %}" style="display:none;">
  </iframe>
  <div class="card">
    <h3 class="card-header">Dana Acara {{ acara.judul }}</h3>
    <div class="table-responsive text-nowrap">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Tanggal</th>
            <th>Struk</th>
            <th>Keterangan</th>
            <th>Pemasukan</th>
            <th>Pengeluaran</th>
            {% if request.user.pengguna.tipe == 'Admin' or request.user.pengguna.tipe == 'Bendahara' %}
            <th>Aksi</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for dana in semua_dana %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ dana.tanggal|date:"d-m-Y H:i" }}</td>
            <td>
              {% if dana.struk %}
              <a href="{{ dana.struk.url }}" target="_blank"><button type="button" class="btn btn-icon btn-primary"><i class='tf-icons bx bx-show-alt'></i></button></a>
              {% else %}
              <button type="button" class="btn btn-icon btn-outline-primary" disabled><i class='tf-icons bx bx-hide'></i></button>
              {% endif %}
            </td>
            <td class="text-wrap">{{ dana.deskripsi }}</td>
            {% if dana.tipe == 'Pemasukan' %}
                <td align='right'>Rp. {{dana.jumlah|intcomma}}</td>
                <td align='right'></td>
            {% else %}
                <td align='right'></td>
                <td align='right'>Rp. {{dana.jumlah|intcomma}}</td>
            {% endif %}
            {% if request.user.pengguna.tipe == 'Admin' or request.user.pengguna.tipe == 'Bendahara' %}
            <td>
              {% if dana.deskripsi != 'Peturunan (Estimasi Biaya)' and dana.deskripsi != 'Biaya Tambahan Untuk Semeton Pedesaan' %}
                <button class="btn btn-icon btn-primary mx-1" onclick="ubah(url='{% url 'Get Dana' id=dana.id %}')" ><i class="bx bx-edit-alt"></i></button><button type="button" class="btn btn-icon btn-danger mx-1" onclick="confirm('Yakin ingin menghapus data ini?') ? location.href='{% url 'Hapus Dana' id=dana.id %}' : ''"><i class="tf-icons bx bx-trash"></i></button>
              {% endif %}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
          <tfoot class="table-border-bottom-0">
            <tr>
                <td colspan="4" align="center" class="fw-bolder">Jumlah</td>
                <td align='right'>Rp. {{total_pemasukan|intcomma}}</td>
                <td align='right'>Rp. {{total_pengeluaran|intcomma}}</td>
                {% if request.user.pengguna.tipe == 'Admin' or request.user.pengguna.tipe == 'Bendahara' %}
                <td></td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="4" align="center" class="fw-bolder">Total Dana</td>
                {% if total_dana > 0 %}
                <td colspan="2" align='right' class="text-success">Rp. {{total_dana|intcomma}}</td>
                {% else %}
                <td colspan="2" align='right' class="text-danger">Rp. {{total_dana|intcomma}}</td>
                {% endif %}
                {% if request.user.pengguna.tipe == 'Admin' or request.user.pengguna.tipe == 'Bendahara' %}
                <td></td>
                {% endif %}
            </tr>
          </tfoot>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block modal %}
<div class="modal fade" id="tambahDana" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tambahDanaLabel">Tambah Dana</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id='form' action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mb-3">
            <input type="hidden" required="false" name="id_dana" id="id_dana"/>
            <label class="col-sm-3 col-form-label" for="id_tipe_dana">Tipe Dana</label>
            <div class="col-sm-9">
              {{ form.tipe }}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="id_deskripsi">Keterangan Dana</label>
            <div class="col-sm-9">
              {{ form.deskripsi }}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="id_jumlah">Jumlah Dana</label>
            <div class="col-sm-9">
              {{ form.jumlah }}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="id_struk">Struk Belanja</label>
            <div class="col-sm-9">
              {{ form.struk }}
            </div>
          </div>
        </form>
        <a id="href_struk" href="" target="_blank"><img id="img_struk" class="w-100"/></a>
        <p class="text-danger" id="paragraph"></p>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Tutup
        </button>
        <button type="submit" name="btn" class="btn btn-primary" id="btn_submit" value="Tambah" form="form">Simpan</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="tambahPengajuan" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tambahPengajuanLabel">Tambah Pengajuan</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id='formPengajuan' action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="id_deskripsi">Keterangan Pengajuan</label>
            <div class="col-sm-9">
              {{ form_pengajuan.deskripsi }}
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="id_jumlah">Jumlah Pengajuan</label>
            <div class="col-sm-9">
              {{ form_pengajuan.jumlah }}
            </div>
          </div>
        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Tutup
        </button>
        <button type="submit" name="btn" class="btn btn-primary" id="btn_submit_pengajuan" value="Tambah Pengajuan" form="formPengajuan">Kirim</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
  let id_dana = document.getElementById('id_dana');
  let tipe = document.getElementById('id_tipe');
  let deskripsi = document.getElementById('id_deskripsi');
  let jumlah = document.getElementById('id_jumlah');
  let struk = document.getElementById('id_struk');
  let modal_label = document.getElementById('tambahDanaLabel');
  let img_struk = document.getElementById('img_struk');
  let paragraph = document.getElementById('paragraph');
  let href_struk = document.getElementById('href_struk');
  let btn_submit = document.getElementById('btn_submit');

  function ubah(url) {
      $.ajax({
          url: url,
          success: function(data) {
              id_dana.value = JSON.parse(data)[0].pk
              data = JSON.parse(data)[0].fields
              tipe.value = data.tipe
              deskripsi.value = data.deskripsi
              jumlah.value = data.jumlah
              modal_label.innerText = 'Ubah Dana'
              btn_submit.innerText = "Simpan"
              btn_submit.value = "Ubah"
              if (data.struk) {
                  console.log('isi')
                  img_struk.style = "visibility:visible"
                  img_struk.src = "/"+data.struk
                  href_struk.href = "/"+data.struk
                  paragraph.innerText = ""
              } else {
                  console.log('tidak')
                  img_struk.style = "visibility:hidden"
                  href_struk.style = "visibility:hidden"
                  href_struk.href = "#"
                  paragraph.innerText = "Dana tidak berisi struk! Silahkan upload struk terlebih dahulu"
              }
              $("#tambahDana").modal("show");
          }
      });
  }

  $('#tambahDana').on('hidden.bs.modal', function () {
      $(this).find('form').trigger('reset');
      id_dana.value = ""
      img_struk.src = ""
      img_struk.style = "visibility:hidden"
      href_struk.style = "visibility:hidden"
      href_struk.href = "#"
      paragraph.innerText = ""
      modal_label.innerText = 'Tambah Dana'
      btn_submit.innerText = "Simpan"
      btn_submit.value = "Tambah"
  })

  struk.onchange = evt => {
      const [file] = struk.files
      if (file) {
          img_struk.src = URL.createObjectURL(file)
          img_struk.style = "visibility:visible"
          paragraph.innerText = ""
          href_struk.href = URL.createObjectURL(file)
      }
  }
</script>
{% endblock %}