{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print</title>
    <style>
        @page { size: auto;  margin: 0mm; }
        table {
            max-width: 2480px;
            width: 100%;
        }
        table td {
            width: auto;
            overflow: hidden;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <table width="100%" style="margin-bottom:10px; margin-top:20px">
        <tr align="center">
            <td><img src="{% static '/logo_dadia.jpg' %}"/ width="75px" height="auto" style="position:absolute; left:100px; top:25px"><h1>Dadia Pasek Gelgel Tabola<h1></td>
        </tr>
    </table>
    <hr width="80%" align="center">
    <h2 align="center">Laporan Dana</h2>
    <div style="width:80%; margin:auto">
        <table style="margin-bottom:20px">
            <tr>
                <td style="width: 100px">Acara</td>
                <td>:</td>
                <td>{{acara.judul}}</td>
            </tr>
            <tr>
                <td>Tanggal Print</td>
                <td>:</td>
                <td>{% now "d-m-Y H:i" %}</td>
            </tr>
            <tr>
                <td>Diprint oleh</td>
                <td>:</td>
                <td>{{ request.user.pengguna.nama }}</td>
            </tr>
        </table>
        <table border="1">
            <tr>
                <th>No</th>
                <th scope="col">Tanggal</th>
                <th scope="col" style="width:200px; word-wrap:break-word">Keterangan</th>
                <th scope="col">Pemasukan</th>
                <th scope="col">Pengeluaran</th>
            </tr>
            {% for dana in semua_dana %}
            <tr>
                <td align="center">{{ forloop.counter }}</td>
                <td align="center">{{ dana.tanggal|date:"d-m-Y H:i" }}</td>
                <td align="left" style="padding-left:5px">{{ dana.deskripsi }}</td>
                {% if dana.tipe == 'Pemasukan' %}
                <td align="right" style="padding-right:5px">Rp. {{ dana.jumlah|intcomma }}</td>
                <td align="right"></td>
                {% else %}
                <td align="right"></td>
                <td align="right" style="padding-right:5px">Rp. {{ dana.jumlah|intcomma }}</td>
                {% endif %}
            </tr> 
            {% endfor %}
            <tr>
                <td colspan="3" align="center">Jumlah</td>
                <td align='right'style="padding-right:5px">Rp. {{total_pemasukan|intcomma}}</td>
                <td align='right'style="padding-right:5px">Rp. {{total_pengeluaran|intcomma}}</td>
            </tr>
            <tr>
                <td colspan="3" align="center">Total Dana</td>
                <td colspan="2" align='right'style="padding-right:5px">Rp. {{total_dana|intcomma}}</td>
            </tr>
        </table>
    </div>
</body>
</html>