{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block extracss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Lanjut" class="btn btn-secondary">
</form>
{% endblock %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
<script>
    $(function () {

        $("#mulai").datetimepicker({
            format: 'Y-m-d'
        });
        $("#selesai").datetimepicker({
            format: 'Y-m-d'
        });
        $("#terakhir").datetimepicker({
            format: 'Y-m-d'
        });
    });
</script>
{% endblock %}